:root {
  --color-primary-light-1: #e685f4;
  --color-primary-light-2: #df65f2;
  --color-primary-light: #d946ef;
  --color-primary-light-4: #d327ec;
  --color-primary-light-5: #c313de;

  --color-primary-dark-1: #b471f0;
  --color-primary-dark-2: #a352ed;
  --color-primary-dark: #9333ea;
  --color-primary-dark-4: #8317e4;
  --color-primary-dark-5: #7114c5;
  --color-primary-dark-bg: #f5ecfd;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #edeef7;

  --color-grey-dark-1: #777;
  --color-grey-dark-2: #444;
  --color-grey-dark-3: #252525;

  // BOX SHADOW
  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.2);
  --shadow-dark: 0 5px 10px rgba(0, 0, 0, 0.2);
}
