.badge {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3125rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;

  // Type
  &--default {
    border-radius: 5px;
  }

  &--round {
    border-radius: 50%;
  }

  // Color
  &--primary {
    color: var(--color-primary-dark-5);
    background-color: var(--color-primary-dark-bg);
  }

  &--error {
    color: #fff;
    background-color: var(--gradient-error-icon);
  }

  //
  &--sm {
    font-size: var(--gradient-font-10);
  }

  &--md {
    font-size: var(--gradient-font-12);
  }

  &--lg {
    font-size: var(--gradient-font-14);
  }
}
