.navigation {
  box-shadow: var(--shadow-dark);
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.875rem 0rem;
  }

  &__logo {
    max-width: 150px;
    display: flex;
    align-items: center;
  }

  &--fixed {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
