.navigation {
  box-shadow: var(--shadow-dark);
  width: 100%;
  min-height: 4rem;
  background-color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 0rem;

    @media screen and (max-width: 1200px) {
      padding: 1rem;
    }
  }

  &--fixed {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
  }
}
